.Login{
  display: none;
  position: absolute !important;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.HomePanel {
  width: 100%;
  height: 400px;
  background: #23272a;
  border-top: 1px #2f3743;
  border-bottom: 1px #2f3743;

  .HomePanelL{
    float: left;
    height: 100%;
    background-image: url(../../../assets/images/HomePanelL.png);
    width: 342px;
    z-index: 3;
  }

  .HomeContent {
    div {
      z-index: 2;
    height: 100%;
    text-align: center;
    font-size: 29px;
    color: #fff;
    padding-top: 100px;
    }


      ul {

          list-style: none;
          margin-top: 60px;
          width: 50%;
          overflow: hidden;
          li {
            border: solid 1px #b0d9ff;
            a {
              display: block;
              width: 200px;
              text-align: center;
              padding: 10px;
              color: #fff;
              font-size: 15px;
              text-decoration: none;
            }

          }

          .left {
            float: left;
          }
          .right {
            float: right;
          }


      }

  }
  .HomePanelR {
    float: right;
    height: 100%;
    background-image: url(../../../assets/images/HomePanelR.png);
    width: 326px;
    z-index: 3;
  }
}


.News {
  width: 100%;
  height: 85px;
  border-top: solid 2px #2f3743;
  border-bottom: solid 2px #2f3743;
   div {
     background: #4c758d;
     border: solid 1px #4c758d;
     border-radius: 50px;
     padding: 6px;
     color: #fff;
     width: 82px;
     text-align: center;
     margin-top: 23px;
     margin-left: 30%;
   }
}
