.Info {
  position: absolute;
  margin-top: -21vw;

  .info-table {
    width: 10vw;
    height: 3vw;
    background-color: #1d2431;
  }

  .info-user {

  }

  .info-discord {

  }

  .info-group {

  }
}