@import "../../../assets/fonts/style.css";

.b-bg {
  width: 2.08vw; //40px;
  background: none;

  img {
    width: 100%;
    height: auto;
    pointer-events: none;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}

.NavPanel {
  list-style-type: none;
  margin-bottom: auto;
  padding: 0;
  overflow: hidden;
  background: none;
  position: relative;
  top: 0;
  width: 100%;
  font-size: 0.937vw;
  z-index: 10;

  .main {
    float: left;
    margin-left: 0.72vw;
  }

  .left {
    float: left;
    margin-left: 1.7vw;
  }

  .right {
    float: right;
    margin-right: 1.04vw;
  }

  li .submenu {
    position: fixed;
    margin-top: 0;
    padding: 0;
    list-style: none;
    display: none;
    font-family: 'CeraPro Regular', sans-serif;
    font-weight: 100;
    font-size: 0.833vw;
  }

  li .submenu li {
    height: 1.718vw;
    align-items: center;
    display: flex;
  }

  li:hover .submenu {
    display: block;
  }

  li a {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    height: 2.656vw;
    transition: 0.4s;

    .text {
      font-family: 'CeraPro Regular', Arial;
      font-weight: normal;
      font-size: 0.96vw;
      margin-top: 0.15vw;
      margin-bottom: 0;
    }

    .arrow-2 {
      cursor: pointer;
      height: 0.781vw;
      position: relative;
      margin-left: 0.3vw;
      margin-right: 0.104vw;
    }
    .arrow-2-top,
    .arrow-2-bottom {
      background: #c0d4e2;
      height: 0.104vw;
      position: absolute;
      top: 0.65vw;
      width: 0.468vw;
    }
    .arrow-2-top {
      top: 0.545vw;
      left: calc(-1 * (100vw / 1920 * 1.7)); //-1.7px;
      transform: rotate(130deg);
      transform-origin: bottom right;
    }
    .arrow-2-bottom {
      transform: rotate(50deg);
      transform-origin: top right;
    }
    .arrow-2-top::after,
    .arrow-2-bottom::after {
      background: #7e929c;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all 0.15s;
    }
    .arrow-2-top::after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
    .arrow-2-bottom::after {
      left: 0;
      right: 100%;
      transition-delay: 0.15s;
    }
  }

  li a:hover {
    color: #dbdbdb;

    .dropdown {
      display: block;
    }

    .arrow-2 .arrow-2-top::after {
      left: 0;
      transition-delay: 0.15s;
    }
    .arrow-2 .arrow-2-bottom::after {
      right: 0;
      transition-delay: 0s;
    }
  }

  .b-brand {
    display: flex;
    align-items: center;

    .b-bg {
      width: 2.08vw; //40px;
      background: none;

      img {
        width: 100%;
        height: auto;
        pointer-events: none;
      }
    }

    .b-title {
      margin-left: 0.52vw; //10px;
      font-weight: 100;
      color: #e1ebf3;
      font-family: 'CeraPro Regular', sans-serif;
      font-size: 1.557vw; //29.9px
    }
  }
}
