.WhyObvilion {
  float: right;
  position: relative;
  color: white;

  .textWhy {
    margin-right: 8.75vw;
    margin-top: 5.3vw;

    font-family: "CeraPro Bold";
    color: white;
    font-size: 3.645vw;
  }

  .desc {
    margin-right: 8.75vw;
    margin-top: 1.7vw;
    text-align: right;
    font-family: "CeraPro Light";
    font-size: 1.56vw;
  }
}