.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  .content {
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    border-radius: 8px;
    background: #2c2c2cc9;
    transition: max-width .6s;
  }
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}
