.first-bg {
  width: 100%;
  background: none;

  img {
    position: absolute;
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.firstbg {
  margin-top: -6vw;
  img {
    -webkit-mask: linear-gradient(to top, rgba(0,0,0,1) 82%, rgba(0,0,0,0) 100%);
  }
}

.first {
  width: 100%;
  height: 49.1vw;
  position: relative;
  display: block;
}

.servers {
  width: 100%;
  height: 38.2vw;
  display: block;
  margin: -7vw 0 0;
  padding: 0 0 2vw;
}

.whyObvilion {
  width: 100%;
  height: 31vw;
  display: block;
  margin: 0;
  padding: 0;
}

.endbg {
  margin-top: -3vw;
  z-index: 10;
}

.end {
  width: 100%;
  height: 21vw;
  display: block;
  margin: 0;
  z-index: 20;
  padding: 0;

  .BottomPane {
    margin-top: 4vw;
    height: 8.5vw;
  }
}

::-webkit-scrollbar {
  width: 0;
}