.title2 {
  padding: 0;
  margin: 2vw 3vw 0;
  color: #ffffff;
  font-family: 'CeraPro Bold', sans-serif;
  font-size: 5.3vw;
  position: relative;
  line-height: 5.7vw;
}

.title3 {
  font-size: 2.3vw;
  color: rgba(189, 189, 189, 0.84);
  font-family: 'CeraPro Light', sans-serif;
  line-height: 2.8vw;
  margin-top: 4vw;
}
