.parent-block {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: left;
}

.asd {
  flex: 1 0 40%;
  min-width: 400px;
  max-width: 100%;
  background-color: #1d1d1e;
  border-radius: 10px;
  border: 1px solid #323232;
  margin: 10px;
  padding: 5px;
}
